* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #112d49;
}

.nft-list {
    display: flex;
    max-width: 1240px;
    flex-wrap: wrap;
    gap: 50px;
}

.nft-container {
    display: flex;
    gap: 20px;
}

.nft-title-img {
}

.nft-info {
    align-self: center;
}
